node-red-railway-project/flows.json
[
    {
        "id": "aec0b9660783b01e",
        "type": "tab",
        "label": "Flow 17",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0481e84ccc27b4bb",
        "type": "ui_button",
        "z": "aec0b9660783b01e",
        "name": "MODE 1",
        "group": "grp1",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "MODE 1",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#3366FF",
        "className": "",
        "icon": "",
        "payload": "{\"efficiency\":70,\"motor_rpm\":2500,\"wheel_speed\":45,\"torque\":40,\"mode\":\"ROAD\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "9ffb8d2bdc616145",
                "c4483160fc66c907",
                "6abd6463a08fc62e",
                "64e145253a1479e6"
            ]
        ]
    },
    {
        "id": "0b9197aae009165e",
        "type": "ui_button",
        "z": "aec0b9660783b01e",
        "name": "MODE 0",
        "group": "grp1",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "MODE 0",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#3333FF ",
        "className": "",
        "icon": "",
        "payload": "{\"efficiency\":60,\"motor_rpm\":2000,\"wheel_speed\":30,\"torque\":35,\"mode\":\"RAIN\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 520,
        "y": 880,
        "wires": [
            [
                "9ffb8d2bdc616145",
                "c4483160fc66c907",
                "6abd6463a08fc62e",
                "9a507938c2cb32b1"
            ]
        ]
    },
    {
        "id": "cde2260529500191",
        "type": "ui_button",
        "z": "aec0b9660783b01e",
        "name": "MODE 2",
        "group": "grp1",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "MODE 2",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#3399FF",
        "className": "",
        "icon": "",
        "payload": "{\"efficiency\":85,\"motor_rpm\":4000,\"wheel_speed\":75,\"torque\":70,\"mode\":\"OFF-ROAD\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 540,
        "y": 980,
        "wires": [
            [
                "9ffb8d2bdc616145",
                "c4483160fc66c907",
                "6abd6463a08fc62e",
                "83534dfd045a04fb"
            ]
        ]
    },
    {
        "id": "02d741512cf4cb94",
        "type": "ui_button",
        "z": "aec0b9660783b01e",
        "name": "Off",
        "group": "grp1",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#B0BEC5",
        "className": "",
        "icon": "",
        "payload": "{\"efficiency\":0,\"motor_rpm\":0,\"wheel_speed\":0,\"torque\":0,\"mode\":\"Off\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 1060,
        "wires": [
            [
                "9ffb8d2bdc616145",
                "c4483160fc66c907",
                "6abd6463a08fc62e",
                "b37b6b2337c45838"
            ]
        ]
    },
    {
        "id": "9ffb8d2bdc616145",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "Extract Wheel Speed",
        "func": "msg.payload = msg.payload.wheel_speed;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 600,
        "wires": [
            [
                "40a007c535971727"
            ]
        ]
    },
    {
        "id": "c4483160fc66c907",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "Extract RPM",
        "func": "msg.payload = msg.payload.motor_rpm;\nreturn msg;",
        "outputs": 1,
        "x": 990,
        "y": 640,
        "wires": [
            [
                "9da9d58b19afd8a5"
            ]
        ]
    },
    {
        "id": "6abd6463a08fc62e",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "Extract Efficiency",
        "func": "msg.payload = msg.payload.efficiency;\nreturn msg;",
        "outputs": 1,
        "x": 990,
        "y": 680,
        "wires": [
            [
                "135ae512127880ef"
            ]
        ]
    },
    {
        "id": "40a007c535971727",
        "type": "ui_gauge",
        "z": "aec0b9660783b01e",
        "name": "Wheel Speed",
        "group": "grp1",
        "order": 14,
        "width": 6,
        "height": 8,
        "gtype": "donut",
        "title": "Wheel Speed",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": 150,
        "colors": [
            "#00bfff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": 50,
        "seg2": 100,
        "diff": false,
        "className": "",
        "x": 1260,
        "y": 100,
        "wires": []
    },
    {
        "id": "9da9d58b19afd8a5",
        "type": "ui_gauge",
        "z": "aec0b9660783b01e",
        "name": "ABS Motor RPM",
        "group": "grp1",
        "order": 16,
        "width": 6,
        "height": 8,
        "gtype": "donut",
        "title": "ABS Motor RPM",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": 5000,
        "colors": [
            "#3366ff",
            "#33cc33",
            "#ff3333"
        ],
        "seg1": 1500,
        "seg2": 3000,
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "135ae512127880ef",
        "type": "ui_gauge",
        "z": "aec0b9660783b01e",
        "name": "ABS Motor Efficiency",
        "group": "grp1",
        "order": 15,
        "width": 6,
        "height": 8,
        "gtype": "donut",
        "title": "ABS Motor Efficiency",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#ffff00",
            "#00cc66",
            "#cc0000"
        ],
        "seg1": 40,
        "seg2": 70,
        "x": 1280,
        "y": 360,
        "wires": []
    },
    {
        "id": "64e145253a1479e6",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "ROAD",
        "func": "if (msg.payload.mode === \"ROAD\") {\n    msg.payload = 0;\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 680,
        "wires": [
            [
                "55d50041c3d17492",
                "4db07105a3f2950a"
            ]
        ]
    },
    {
        "id": "9a507938c2cb32b1",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "RAIN",
        "func": "if (msg.payload.mode === \"RAIN\") {\n    msg.payload = 1;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 720,
        "wires": [
            [
                "14c2f853ad4a0f37",
                "4db07105a3f2950a"
            ]
        ]
    },
    {
        "id": "83534dfd045a04fb",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "OFF-ROAD",
        "func": "if (msg.payload.mode === \"OFF-ROAD\") {\n    msg.payload = 2;\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 760,
        "wires": [
            [
                "1f775adbc2ca2af2",
                "4db07105a3f2950a"
            ]
        ]
    },
    {
        "id": "4db07105a3f2950a",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "Force V/s Velocity",
        "func": "var xValues = [-1, 0, 1, 2, 3, 5, 6];\n\nvar yValuesComfort = [0, 63, 170, 270, 357, 556, 657];\nvar yValuesComfortComp = [0, -38, -61, -72, -79, -92, -98];\n\nvar yValuesNormal = [0, 165, 234, 321, 412, 632, 735];\nvar yValuesNormalComp = [0, -37, -62, -72, -79, -93, -98];\n\nvar yValuesSport = [0, 224, 297, 390, 488, 706, 823];\nvar yValuesSportComp = [0, -55, -80, -90, -97, -111, -117];\n\nvar dataComfort = xValues.map((x, i) => ({ x, y: yValuesComfort[i] }));\nvar dataComfortComp = xValues.map((x, i) => ({ x, y: yValuesComfortComp[i] }));\n\nvar dataNormal = xValues.map((x, i) => ({ x, y: yValuesNormal[i] }));\nvar dataNormalComp = xValues.map((x, i) => ({ x, y: yValuesNormalComp[i] }));\n\nvar dataSport = xValues.map((x, i) => ({ x, y: yValuesSport[i] }));\nvar dataSportComp = xValues.map((x, i) => ({ x, y: yValuesSportComp[i] }));\n\nvar series = [], colors = [], data = [];\n\nswitch (msg.payload) {\n    case 0:\n        series = ['Comfort', 'Comfort Comp'];\n        colors = ['#FF0000', '#FF69B4'];\n        data = [dataComfort, dataComfortComp];\n        break;\n    case 1:\n        series = ['Rain', 'Rain Comp'];\n        colors = ['#00FF00', '#8A2BE2'];\n        data = [dataNormal, dataNormalComp];\n        break;\n    case 2:\n        series = ['Sport', 'Sport Comp'];\n        colors = ['#0000FF', '#DAA520'];\n        data = [dataSport, dataSportComp];\n        break;\n    default:\n        return null;\n}\n\nmsg.payload = {\n    series: series,\n    data: data,\n    labels: xValues,\n    colors: colors\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 780,
        "wires": [
            [
                "44d112485594334d"
            ]
        ]
    },
    {
        "id": "55d50041c3d17492",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "ROAD",
        "func": "var xValues = [-1,0,1,2,3,5,6];\nvar yValuesComfort = [0,63, 170, 270, 357,556, 657];\nvar yValuesComfortComp = [0,-38, -61, -72, -79, -92, -98];\n\nvar dataComfort = xValues.map((x, index) => ({ x: x, y: yValuesComfort[index] }));\nvar dataComfortComp = xValues.map((x, index) => ({ x: x, y: yValuesComfortComp[index] }));\n\nvar colorComfort = '#FF0000';\nvar colorComfortComp = '#FF0000';\n\nvar currentPayload = context.get('chartData') || { series: [], colors: [], data: [], labels: xValues  };\n\nswitch (msg.payload) {\n    case 0:\n        currentPayload.series = ['ROAD','ROADComp'];\n        currentPayload.colors = [colorComfort,colorComfortComp];\n        currentPayload.data = [dataComfort,dataComfortComp];\n        break;\n    default:\n        return msg;\n}\n\ncontext.set('chartData', currentPayload);\nmsg.payload = [currentPayload];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 660,
        "wires": [
            [
                "44d112485594334d"
            ]
        ]
    },
    {
        "id": "14c2f853ad4a0f37",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "RAIN",
        "func": "var xValues = [-1,0,1,2,3,5,6];\nvar yValuesNormal = [0,165, 234, 321, 412, 632, 735];\nvar yValuesNormalComp = [0,-37, -62, -72, -79, -93, -98];\n\nvar dataNormal = xValues.map((x, index) => ({ x: x, y: yValuesNormal[index] }));\nvar dataNormalComp = xValues.map((x, index) => ({ x: x, y: yValuesNormalComp[index] }));\n\nvar colorNormal = '#FF0000';\nvar colorNormalComp = '#00FF00';\n\nvar currentPayload = context.get('chartData') || { series: [], colors: [], data: [], labels: xValues };\n\nswitch (msg.payload) {\n    case 1:\n        currentPayload.series = ['RAIN','RAINComp'];\n        currentPayload.colors = [colorNormal];\n        currentPayload.data = [dataNormal, dataNormalComp];\n        break;\n    default:\n        return msg;\n}\n\ncontext.set('chartData', currentPayload);\nmsg.payload = [currentPayload];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 700,
        "wires": [
            [
                "44d112485594334d"
            ]
        ]
    },
    {
        "id": "1f775adbc2ca2af2",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "OFF-ROAD",
        "func": "var xValues = [-1,0,1,2,3,5,6];\nvar yValuesSport = [0,224, 297, 390, 488, 706, 823];\nvar yValuesSportComp = [0,-55, -80, -90, -97, -111, -117];\n\nvar dataSport = xValues.map((x, index) => { return { x: x, y: yValuesSport[index] }; });\nvar dataSportComp = xValues.map((x, index) => { return { x: x, y: yValuesSportComp[index] }; });\n\nvar colorSport = '#FF0000';\nvar colorSportComp = '#FF0000';\n\nvar currentPayload = context.get('chartData') || { series: [], colors: [], data: [], labels: xValues  };\n\nswitch(msg.payload) {\n    case 2:\n        currentPayload.series = ['OFF-ROAD','OFF-ROADComp'];\n        currentPayload.colors = [colorSport];\n        currentPayload.data = [dataSport,dataSportComp];\n        break;\n    default:\n        return msg;  \n}\ncontext.set('chartData', currentPayload);\nmsg.payload = [currentPayload];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 740,
        "wires": [
            [
                "44d112485594334d"
            ]
        ]
    },
    {
        "id": "44d112485594334d",
        "type": "ui_chart",
        "z": "aec0b9660783b01e",
        "name": "DAMPING CHARACTERISTICS",
        "group": "grp1",
        "order": 13,
        "width": 8,
        "height": 8,
        "label": "DAMPING CHARACTERISTICS",
        "chartType": "line",
        "legend": "true",
        "xformat": "0.x",
        "interpolate": "linear",
        "nodata": "NO DATA",
        "dot": true,
        "ymin": "-150",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#644fb2",
            "#644fb2",
            "#13b7d8",
            "#13b7d8",
            "#ff9838",
            "#ff9838",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1910,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6371eb09cec593f8",
        "type": "ui_media",
        "z": "aec0b9660783b01e",
        "group": "grp1",
        "name": "logo",
        "width": 6,
        "height": 2,
        "order": 8,
        "category": "logo",
        "file": "endurance_logo.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0564fde14a9bec1e",
        "type": "ui_template",
        "z": "aec0b9660783b01e",
        "group": "grp1",
        "name": "",
        "order": 32,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e0dca90d3d87480c",
        "type": "ui_template",
        "z": "aec0b9660783b01e",
        "group": "grp1",
        "name": "",
        "order": 19,
        "width": 1,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 888,
        "y": 148,
        "wires": [
            []
        ]
    },
    {
        "id": "0bb19c9e3c654239",
        "type": "ui_template",
        "z": "aec0b9660783b01e",
        "group": "grp1",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7bcbbd5ba86f5977",
        "type": "ui_template",
        "z": "aec0b9660783b01e",
        "group": "grp1",
        "name": "",
        "order": 22,
        "width": 1,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b37b6b2337c45838",
        "type": "function",
        "z": "aec0b9660783b01e",
        "name": "OFF-ROAD",
        "func": "msg.payload=[];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 820,
        "wires": [
            [
                "44d112485594334d"
            ]
        ]
    },
    {
        "id": "dcd6b307498bbf6f",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "a2024b05e791c91c",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 7,
        "width": 8,
        "height": 1
    },
    {
        "id": "760c259febf63139",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ecc6b4a0a831b5d",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 10,
        "width": 21,
        "height": 1
    },
    {
        "id": "57a5a1300df43024",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6a6a92990f5258f",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "894a2d2cc30c6016",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b30194d4336659a",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e814383067cd1fb",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "73435672d6017f62",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "39c2ee802a6f08a2",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "1e812ee2504cf327",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "3904a8c50c625f70",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "206ab7cdd09c714f",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "dee6b89990015795",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "417a75d7fcb5f504",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "9935a6eb62555e7b",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "62ea2cbbdc4f1278",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "bcd4c5470f1c3c03",
        "type": "ui_spacer",
        "z": "aec0b9660783b01e",
        "name": "spacer",
        "group": "grp1",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "grp1",
        "type": "ui_group",
        "name": "",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "28",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Display",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]